/*Fontes*/
font-face{
    font-family: 'RotinsSansSerif', sans-serif;
    src: url('Fonts\Sans Serif\rotis-sans-serif-extra-bold-75.otf');
    font-weight: extra-bold;
    font-style: normal;
}
/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'RotinsSansSerif', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    color: #111;
}

/* Header*/
.page {
    padding-top: 8px;
}

header {
    width: 100%;
    padding: 10px 18px;
    padding-left: 120px;
    padding-right: 120px;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 50px;
    padding-left: 70px;
    padding-right: 70px;
}

.botoesNav {
    text-decoration: none;
    color: #222;
    font-size: 26px;
    font-weight: 600;
}

.logo img {
    vertical-align: middle;
    display: block;
}

/*Header*/
/**/
/* Main*/
main{
    height: 100vh;
}
#titulo{
    font-family: 'RotinsSansSerif', sans-serif;
    letter-spacing: 15px;
    format:('opentype');
    font-size: 45px;
}
.pgIcinal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}   
/*Footer*/
footer{
    background-color: rgb(255, 255, 255);
    border-top: 1px solid black;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: black;
    background-color: rgb(255, 26, 217);
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}